[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log

default_authentication_plugin = mysql_native_password

innodb_flush_method = O_DSYNC
innodb_log_file_size = 100M
innodb_file_per_table = 1
innodb_log_buffer_size = 1M
innodb_io_capacity = 199

innodb-buffer-pool-size=20M 
innodb-buffer-pool-instances=4
innodb-buffer-pool-chunk-size=10M;